html {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}
body {
    margin: 0;
}
h1 {
    font-size: 4rem;
    font-weight: 800;
}
h2{
    margin: 0px;
    font-size: 3rem;
    font-weight: 800; 
}
button{
    background-color: #F84646;
    color: #fff;
    border: none;
    font-weight: 500;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}
#presentation-container { 
    padding: 2.5rem 7.5rem;
    height: 100vh;
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#presentation {
    width: 600px;
    position: relative;
    top: calc(50% - 9rem);
}
.container{
    padding: 10rem 7.5rem;
    text-align: center;
}
#contact h2{
    margin-top: .5rem;
}
#contact p{
    margin-top: 1.5rem;
}
#contact button{
    margin-top: 2rem;
     transition: opacity 0.5s ease-in-out, transform .3s .1s;
}
.container button:hover{
    opacity: 0.8;
    transform: scale(1.1);
}
.background-gradient{
        background: linear-gradient(180deg, #fff, #d9d9d9);
}
